body{
    width: 1000px;
    font-family:  'メイリオ',
     'hiragaino Kaku Gothic Pro',
     sans-serif;
    
     
     margin:0;
}
.main_image{
    margin-left: auto;
    width: 800px;
    
}
header {
    text-align: center;
    overflow: hidden;
    padding: 10px;
    font-size: 10px;
    color: #3385FF;
    position:center; 
    height: 65px;
    margin-left: 300px;
    margin-top:10px;
    background-color:#F2FBEF;
    list-style-type: none;
}

div.contents { 
  background-image: url("image/hari223.png");
  height: 400px;
  width:700px;
  font-size:14px;
  position: absolute;
  background-position: center; 
  top:100px;
  margin: auto;
  margin-left: 300px;
  background-repeat: no-repeat;
  list-style-type: none;
 
}
.menu{
    background-color:#f5f5f5;
    background:rgba(0,0,0,0.5);
    width:150px;
    height:140px;
    margin-left:5px;
    font-style: oblique;
    overflow-x: auto;
   
}
li a{
   color: #f5f5f5;
}
.home_contents{
    height: 400px;
    width: 700px;
    margin-left:300px;
    margin-top: 20px;
    background-color:red;
    font-size: 14px;
    
}
div.image{
    height: 400px;
    width: 700px;
    margin-left:300px;
    margin-top: 20px;
}
.contact_contents {
    height: 400px;
    width: 700px;
    margin-left:300px;
    margin-top: 20px;
    background-color:red;
    font-size: 14px;
    
} 